body {
    margin: 60px auto;
    width: 70%;
    background: #d9b8ff url("soulistica.jpg") no-repeat fixed center center;
	background-size: cover;
}
nav ul, footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ffbdff;
}
a:hover {
    text-decoration: underline;
	color: #ffbbbb;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
	color: #00de73;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
    color: #ff00bf;
	padding: 2%;
}
footer {
    border-top: 1px solid #ffcf91;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.text {
	background: rgba(76, 175, 80, 0.5) url("aconversationlarysa.jpg") top center;
	background-repeat: repeat-y;
	background-repeat: repeat-x;
	background-origin: content-box;
	width: 90%;
}

img:hover {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
	-ms-transform: scale(2, 2); /* IE 9 */
    -webkit-transform: scale(2, 2); /* Safari */
    transform: scale(2, 2);
	
}
