body {
    margin: 60px auto;
    width: 70%;
    background: #d9b8ff url("soulistica.jpg") no-repeat fixed center center;
	background-size: cover;
}
nav ul, footer ul {
    font-family: 'Aldrich', sans-serif;
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #ffbdff;
}
a:hover {
    text-decoration: underline;
	color: #ffbbbb;
}
h1 {
    font-size: 3em;
    font-family: 'Aldrich', sans-serif;
	color: #00de73;
}
p {
    font-family: 'Aldrich', sans-serif;
	font-size: 1.5em;
    line-height: 1.4em;
    color: #ff00bf;
	padding: 2%;
}
footer {
    border-top: 1px solid #ffcf91;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

div.text {
	background: url("aconversationlarysa.jpg");
	background-repeat: repeat-y;
	background-repeat: repeat-x;
	background-origin: content-box;
	width: 90%;
}

div.sketch {
	
}

img:hover {
    opacity: 0.86;
    filter: alpha(opacity=86); /* For IE8 and earlier */
	-ms-transform: scale(1.5, 1.5); /* IE 9 */
    -webkit-transform: scale(1.5, 1.5); /* Safari */
    transform: scale(1.5, 1.5);
	
}

.fullscreen-bg {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: -100;
}

.fullscreen-bg__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
