<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/Updates">Updates</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:tinylionroars@gmail.com">TinyLionRoars@gmail.com</a></li>
	        		<li><a href="http://Instagram.com/tinylionroars">Instagram</a></li>
	        		<li><a href="http://Vimeo.com/tinylionroars">Vimeo</a></li>
	        		<li><a href="http://Soundcloud.com/tinylionroars">Soundcloud</a></li>
	        		<li><a href="http://CargoCollective.com/tinylionroars">CargoCollective</a></li>
				</ul>
			</footer>
		</body>
	</html>
